# Compiled output
/dist
/tmp
/out-tsc

# Node
/node_modules
npm-debug.log

# IDEs and editors
.idea/
.vscode/*
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/coverage
